* { margin: 0; padding: 0; outline: 0; }
body {background: #000000;font: 70%/1.5em Verdana, Tahoma, arial, sans-serif;color: #777;text-align: center;margin: 15px 0;}
a, a:visited {text-decoration: none;background: inherit;color: #000000;}
a:hover {text-decoration: underline;background: inherit;color: #e1e1e1;}
h1, h2, h3 { font-family: 'Trebuchet MS', Tahoma, Sans-serif;  }
h1 {font-size: 180%;font-weight: normal;color: #555;}
h2 {font-size: 160%;color: #88ac0b;font-weight: normal;}
h3 {font-size: 135%;color: #666666;}
h1, h2, h3, p {margin: 10px 15px;padding: 0;}
code {margin: 5px 0;padding: 15px;text-align: left;display: block;overflow: auto;font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;border: 1px solid #E5F0FB;background: #FFFFFF;}
acronym {cursor: help;border-bottom: 1px dotted #000000;}
blockquote {margin: 10px 15px;padding: 0 0 0 25px;font: bold 1.3em/1.5em "Trebuchet MS", Tahoma, arial, Sans-serif;color: #2361BA;border: 1px solid #E5F0FB;background: #FFFFFF url("../images/quote.jpg") no-repeat 8px 6px;}
table {border-collapse: collapse;margin: 10px 15px;}
th strong {color: #fff;}
th {background: #b7b7b7 url("../images/button-bg.jpg") repeat-x 0 0;font-size:9px;height: 35px;padding-left: 12px;padding-right: 12px;color: #fff;text-align: left;border: 1px solid #b7b7b7;border-bottom-width: 2px;}
tr {height: 32px;background: #fff;}
td {padding-left: 12px;padding-right: 12px;border: 1px solid #E5F0FB;}
form {margin:10px 15px;padding: 10px 0;border: 1px solid #E5F0FB;background: #FFFFFF;}
fieldset {margin: 0;        padding: 0;border: none;}
legend {display: none;}
label {display:block;font-weight:bold;margin: 7px 0;}
input {padding:3px;border: 1px solid #E5F0FB;font: normal 1em Verdana, sans-serif;color:#777;}
textarea {width:400px;padding:3px;font: normal 1em Verdana, sans-serif;border: 1px solid #E5F0FB;height:100px;display:block;color:#777;}
input.button,input.submit,input.submit-s,input.log2 {font: bold 12px Arial, Sans-serif;height: 28px;margin: 0;padding: 2px 3px;color: #fff;background: #b7b7b7 url("../images/button-bg.jpg") repeat-x 0 0;border: 1px solid #b7b7b7;}
.searchform {background-color: transparent;border: none;margin: 0;padding: 5px 0 5px 0;width: 180px;}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox {width: 110px;color: #777;height: 20px;padding: 2px;border: 1px solid #000000;vertical-align: top;
}.searchform input.button {width: 55px;height: 26px;padding: 2px 5px;border: none;vertical-align: top;}
#wrap {width: 790px;background: #CCC url("../images/content.jpg") repeat-y center top;margin: 0 auto;text-align: left;}
#content-wrap {clear: both;width: 760px;margin: 5px auto;padding: 0;}
#header {position: relative;height: 131px;background: #caced1 url("../images/header.jpg") no-repeat center top;padding: 0;color: #fff;}
#header h1#logo-text a {position: absolute;margin: 0; padding: 0;font: bolder 55px 'Trebuchet MS', Arial, Sans-serif;letter-spacing: -3px;color: #fff;text-transform: none;text-decoration: none;background: transparent;top: 18px; left: 35px;}
#header p#slogan {position: absolute;margin: 0; padding: 0;font: bold 13px 'Trebuchet MS', Arial, Sans-serif;text-transform: none;color: #FFF;top: 80px; left: 50px;}
#header #header-links {position: absolute;color: #FFFFFF;font: bold 14px"Trebuchet MS", Arial, Tahoma, Sans-serif;top: 20px; right: 20px;}
#header #header-links a {color: #fff;text-decoration: none;}
#header #header-links a:hover {color: #b7b7b7;}
#menu {clear: both;margin: 0 auto; padding: 0;background: #81C524 url("../images/menu.jpg") no-repeat;font: bold 16px/40px "trebuchet MS", Arial, Tahoma, Sans-serif;height: 40px;width: 790px;}
#menu ul {float: right;list-style: none;margin:0; padding: 0 10px 0 0px;}
#menu ul li {display: inline;}
#menu ul li a {display: block;float: left;padding: 0 12px;color: #fff;text-decoration: none;background: url("../images/sep.jpg") no-repeat 100% 100%;}
#menu ul li a:hover {color: #b7b7b7;}
#menu ul li#current a {color: #000000;}
#main {float: right;width: 545px;margin: 0; padding: 20px 0 0 0;display: inline;}
#main h2 {font: normal 180% 'Trebuchet MS', Tahoma, Arial, Sans-serif;padding: 0;margin-bottom: 0;color: #000000;}
#main h2 a {color: #000000;text-decoration: none;}
#main blockquote, #main table, #main form {margin-left: 20px;margin-right: 25px;}
#sidebar {float: left;width: 195px;padding: 0; margin: 0px 0 0 0;color: #777;}
#sidebar h2 {margin: 15px 5px 10px 5px;font: bold 1.4em 'Trebuchet MS', Tahoma, Sans-serif;color: #555;}
#sidebar p {margin-left: 0px;}
#footer {color: #FFFFFF;background: #caced1 url("../images/footer.jpg") no-repeat center top;clear: both;width: 790px;height: 57px;text-align: center;font-size: 90%;}
#footer p {padding: 10px 0;margin: 0;}
#footer a {color: #fff;text-decoration: none;}
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.clear { clear: both; }
/*Pligg Code*/
hr {background:#f2f2f2;height:1px;color:#f2f2f2;border:none;clear:both;margin:1em 0;}
.news-summary {position:relative;clear:left;width:100%;padding:1px 0 10px;}
.top {margin-left:60px;padding:0 0 0 5px;}
.top h4 {padding-left:4px;font-size:160%;font-weight:400;margin:0;}
.top h4 a:link,.top h4 a:visited {color:#000000;font-weight:700;}
.toptitle {font-size:16px;font-weight:400;margin:0;}
.toptitle a:link,.toptitle a:visited {color:#000000;font-weight:700;}
.toptitle a:hover {color:#B7B7B7;}
.news-submitted {font-size:85%;margin-bottom:3px;color:#999;}
.news-submitted a {color:#999;text-decoration:underline;}
.news-submitted img {float:left;margin-right:4px;margin-top:3px;vertical-align:bottom;z-index: 1;position:relative;}
.news-body-text {font-size:96%;margin:10px 0 0;}
.news-details {font-size:85%;margin:0;}
.news-details a:hover,.news-details a:active {color:#93C600;text-decoration:underline;}
.news-details b {color:#c00;}
* html .news-details {padding-right:136px;}
.news-details .comments_no {padding-left:37px;border-left:none;}
ul.news-details li li {border-left:none;float:none;height:21px;}
.news-upcoming {background:url("../images/vote-l.png") no-repeat 0 0;position:absolute;top:3px;left:0;width:55px;text-align:center;font-size:85%;list-style:none;margin:0;padding:0;}
.news-upcoming2 {background:url("../images/vote-l.png") no-repeat 0 0;position:absolute;top:3px;left:0;width:55px;text-align:center;font-size:85%;list-style:none;margin:0;padding:0;}
.vote-publish a {font-size:26px;color:#FFFFFF;letter-spacing:-1px;text-decoration:none;line-height:48px;padding:15px 0 6px;}
.vote-publish a small {font-size:12px;letter-spacing:0;text-decoration:none;}
.vote-publish a:hover,.vote-publish a:active {text-decoration:none;color:#b7b7b7;}
.vote a:link,.vote a:visited,.vote span {display:block;color:#000000;font-size:12px;text-decoration:none;padding:3px 0 5px;}
.vote span {color:#B7B7B7;font-size:11px;}
#comment-wrap {border-bottom:solid 1px #e1e1e1;}
#comment-head {background:#e1e1e1;width:100%;}
.comment-body {background:#fafafa;padding:0 4px;}
.comment-info {background:#fafafa;font-size:80%;text-align:right;padding-right:4px;}
.avatar {float:left;width:15px;height:15px;margin:1px 0 0;}
#comment-subhead {float:right;margin-top:-21px;font-size:11px;}
.ratemey {background:#090;padding:1px 5px;}
.ratemen {background:#c00;color:#fff;padding:1px 6px;}
.rateme {color:#fff;font-size:14px;}
#stats {width:48%;float:right;}
#personal_info {width:48%;float:left;}
.live2 {background-repeat:no-repeat;background-position:bottom right;margin:10px;}
.live2 strong {font-size:95%;}
.live2-item {width:100%;clear:both;border-bottom:1px solid #ccc;min-height:25px;text-align:center;overflow:hidden;padding:5px 2px 0;}
.live2-ts,.live2-type,.live2-votes,.live2-story,.live2-who,.live2-status {float:left;display:block;}
.live2-type img {border:none;vertical-align:middle;margin:0;}
.live2-story {width:37%;text-align:left;}
.live2-who {width:18%;text-align:left;}
.live2-status {width:15%;text-align:left;}
.live2-problem {color:red;}
.pagination {background:#f2f2f2;color:#666;border:1px solid #ddd;margin:0 0 1.5em;padding:4px 2px 4px 7px;}
.pagination p {position:relative;text-align:left;}
.pagination p a:link,.pagination p a:visited,.pagination p a:hover,.pagination p a:active {text-decoration:none;background:#fff;border:1px solid #ccc;margin-right:1px;padding:2px 5px;}
.pagination p a:hover {background:#000000;color:#fff;}
.pagination p span {text-decoration:none;background:#000000;border:1px solid #ccc;color:#ccc;margin-right:1px;padding:2px 5px;}
.pagination h4 {margin-top:-1.45em;border:none;padding:0;}
#cab {height:30px;margin-left:20px;font-size:9px;}
#navbar {color:#000000;font-size:9px;padding-bottom:5px;}
#story-navbar {color:#000000;font-size:11px;margin:2px 20px 0;padding:0px 0 7px 10px;}
#cab ul {list-style:none;padding:0 10px 0 30px;}
#cab li {float:left;text-align:center;display:block;}
#cab a.navbut3 {float:left;background:url("../images/tabrB2.png") no-repeat right top;text-decoration:none;display:block;height:33px;color:#000000;font-weight:700;margin:0 1px;padding:0 6px 0 0;}
#cab a.navbut3:hover {background:url("../images/tabrightB.png") no-repeat right top;color:#000000;}
#cab a.navbut3 span {float:left;background:url("../images/tablB2.png") no-repeat left top;text-align:center;display:block;height:33px;padding:9px 0 5px 6px;}
#cab a.navbut3:hover span {background:url("../images/tableftB.png") no-repeat left top;}
#cab a.navbut4 {float:left;background:url("../images/tabrightB.png") no-repeat right top;text-decoration:none;display:block;height:33px;color:#000;font-weight:700;margin:0 1px;padding:0 6px 0 0;}
#cab a.navbut4 span {float:left;background:url("../images/tableftB.png") no-repeat left top;text-align:center;display:block;height:33px;padding:9px 0 5px 6px;}
.cab {padding:0 10px 30px 5px;}
.cab span a {background:url("../images/story_tab2.png") no-repeat 0 0;display:block;float:left;width:100px;height:33px;text-align:center;text-decoration:none;color:#000000;font-weight:700;padding:8px 0 0 2px;}
.news-details .tool,.news-details .tool-right {display:block;float:left;padding:0 4px;}
.live2-ts,.live2-type,.live2-votes {width:10%;text-align:left;}
#headbar form,.pagination * {margin:0;}
#headbar ul a,#navbar a {color:#000000;text-decoration:none;}
#headbar ul a:hover,#navbar a:hover {text-decoration:underline;}
#sorts {vertical-align:middle;margin-bottom:15px;}
#sorts a{ color:#000000; font-size:12px}
#sorts a:hover { color:#e1e1e1}
#sorts span {font-size:16px;  color:#000000; font-weight:bold}
#sorts img {margin-bottom:0px;}
#sorts a:hover,#cab a,#cab span a:hover,.top h4 a:hover,.vote a:hover {color:#000;}
.cab span.selected,.tlb2 span.selected {cursor:text;font-weight:700;color:#666;text-align:center;}
.cab span.selected a,.cab span a:hover {background:url("../images/story_tab.png") no-repeat 0 0;display:block;float:left;width:100px;height:33px;text-decoration:none;color:#000;font-weight:700;padding:8px 0 0 2px;}
.error {color:#c00;font-weight:700;margin-top:10px;border:1px solid red;background:#FFC5BE;padding:5px;}
.success {color:#390;font-weight:700;}
*,fieldset dl {margin:0;padding:0;}
#contentbox #breadcrumb a:link,#contentbox #breadcrumb a:hover,#contentbox #breadcrumb a,#content #breadcrumb a:active,#content #breadcrumb a:visited,.news-submitted a:hover {text-decoration:none;}
table,#wrapper,#bookmarklet {width:95%;}
.featurebox {color:#000000;margin:0 0 15px;padding:15px 0 0 10px;}
.featurebox p {border:none;color:#000000;margin:0 0 1em;}
.featurebox a:hover {color:#333;text-decoration:underline;}
.featurebox li a {margin-left:-10px;padding-left:20px;line-height:2em;}
.featurebox li.rmore {list-style:none;margin-left:90px;}
.featurebox li.rmore a {text-decoration:none;font-size:12px;line-height:2.2em;}
.featurebox ul {margin-left:10px;margin-bottom:10px;}
.featurebox ul a {margin-bottom:5px;}
.tlb {margin:-15px -10px 0;padding:3px 10px 5px;}
.tlb a {font-weight:700;color:#000000;text-decoration:none;font-size:14px;}
.tlb strong {font-weight:700;color:#000000;}
.tlb a:hover {color:#333;text-decoration:none;}
.tlb span {float:right;margin-top:-3px;margin-right:0;}
.tlb2 {margin:5px 0 0;padding:0 0 20px;}
.tlb2 span a {background:url("../images/exp_on.png") no-repeat 0 0;margin-right:8px;cursor:pointer;float:left;display:block;color:#66c;width:58px;height:21px;text-align:center;padding-top:2px;}
.tlb2 span.selected a {background:url("../images/exp_down.png") no-repeat 0 0;width:58px;height:21px;cursor:text;float:left;display:block;margin-right:8px;font-weight:700;color:#666;text-align:center;padding-top:2px;}
.sstories {padding-top:3px;padding-right:13px;float:left;}
.count_total {margin-left:8px;color:#000000;font-weight:700;font-size:110%;}
#nav-secondary,#nav-secondary ul {position:static;margin:0;}
#nav-secondary,#nav-secondary li {list-style:none;display:block;margin:0;padding:0;}
#nav-secondary {padding-top:0;margin-top:10px;}
#nav-secondary a {line-height:1.5;font:96% arial;display:block;color:#000000;border-bottom:1px solid #000000;}
#nav-secondary a:hover {color:#333;}
a.switchurl {border-bottom:1px solid #000000;display:block;margin-right:8px;padding:0 0 4px 5px;}
.featurebox a,.news-details a:link,.news-details a:visited {color:#000000;text-decoration:none;}
img{border-style: none;}