AddDefaultCharset UTF-8
RewriteRule ^sitemapindex.xml module.php?module=xml_sitemaps_show_sitemap [L]
RewriteRule ^sitemap-([a-zA-Z0-9]+).xml module.php?module=xml_sitemaps_show_sitemap&amp;i=$1 [L]
RewriteRule ^(all|General|Transporte|Eventos|Gastronomía|Deportes|famosos|politica|Trabajo|Tecnologia)/([^/]+)/?$ story.php?title=$2 [L]
RewriteRule ^(all|General|Transporte|Eventos|Gastronomía|Deportes|famosos|politica|Trabajo|Tecnologia)/?$ ?category=$1 [L] 